<div ng-show="HC.loggedIn" class="col-md-8">
  <h2>{{HC.profile.nickname}}'s Profile</h2>
  <h3>Wins:  {{HC.profile.wins}}</h3>
  <h3>Losses:  {{HC.profile.losses}}</h3>
  <h3 ng-show="HC.profile.wins + HC.profile.losses > 0">Win Percentage:  {{HC.profile.wins / (HC.profile.wins + HC.profile.losses)}}</h3>
</div>

<div class="col-md-4 pull-right">
  <textarea cols="30" rows="10">
Rules:
Phantom is a turn based free for all battle game.  A player loses if he or she loses all of his or her hit points.  A player wins if all other players have lost.

Players are allowed one action per turn.  Actions are: Basic Attack, Special Attack, Shield, Move, Dig, Capsule, Extra Turn.

Basic Attack: Deals one hit point of damage to a target within line of sight.

Special Attack: Deals two hit points of damage to a target within line of sight.  This costs two Attack Points.

Shield: Creates a shield around a player that absorbs two points of damage.  This costs two Attack Points.

Move: Relocates your player to any spot on the map.

Dig: Removes all barriers along any single line.

Capsule: Opens a capsule.

Extra Turn: Allows you to take an extra turn after this one.  This costs three Attack Points.

Capsules are the blue boxes located all around the board.  There are six capsules.

Death Capsule: This capsule deals six damage to the player who opens it.  One capsule is a Death Capsule.

Health Capsule: This capsule restores the player who opens it to full health and full Attack Points.  Two capsules are Health Capsules.

Wand Capsule: This capsule allows the player who opens it to use two Special Attacks for free.  Two capsules are Wand Capsules.

Lava Capsule: This capsule will throw lava in random places all over the board.  Players hit by lava will take one point of damage, and players standing on lava at the end of their turn will also take one point of damage.  One capsule is a Lava Capsule.

The Phantom is a referree who is anything but impartial.  The Phantom is an agent of chaos.  For no other reason than because he feels like it, the Phantom will occasionally do actions such as Shuffle, Phantom Attack, and Phantom Heal.  The Phantom hates a stalemate, so when there are only two players remaining, he will impose his will on the game in a big way.
  </textarea>
</div>
