<div class="col-md-4 pull-right">
  <form ng-submit="RC.register()">
    <label for="RC.newUser.username">User Name</label>
    <input type="text" ng-model="RC.newUser.username">
    <label for="RC.newUser.nickname">Nickname (This is what people will see you as)</label>
    <input type="text" ng-model="RC.newUser.nickname">
    <label for="RC.newUser.password">Password</label>
    <input type="password" ng-model="RC.newUser.password">
    <label for="RC.newUser.repeatPassword">Repeat your Password</label>
    <input type="password" ng-model="RC.newUser.repeatPassword">
    <input type="submit" value="Register!">
  </form>
</div>
