<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Phantom</title>
        <link rel="stylesheet" href="css/styles.css">
        <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        </style>
    </head>
    <body ng-app="Phantom">
      <div ng-controller="HomeController as HC">
        <div class="container" ng-if="!game.inProgress">
          <div class="row">
            <h1>Welcome to Phantom!</h1>
          </div>
          <div class="row">
            <div class="col-md-8 pull-left">
              <button ui-sref="pnp">Pass and Play</button>
              <button ui-sref="leaderboard">Leaders</button>
              <button ng-show="!HC.loggedIn" ui-sref="register">Register</button>
              <button ng-show="!HC.loggedIn" ui-sref="login">Log In</button>
              <button ng-show="HC.loggedIn" ng-click="HC.logout()">Log Out</button>
            </div>
          </div>
          <div ui-view></div>
        </div>

      </div>

    <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/factories.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
